@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: theme('colors.greyText.light');
    color: white;
  }
  .icon:hover {
    background-color: theme('colors.greyText.dark');
  }
  .icon:focus {
    background-color: theme('colors.blueText');
  }
  .icon:active {
    background-color: theme('colors.bgBlue');
    color: theme('colors.blueText');
  }
  .mainText {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    text-decoration: none solid rgb(228, 230, 235);
  }
  .subTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none solid rgb(228, 230, 235);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
  }
}